* {
    -fx-font-family: "Atlan Semi Bold";
}

.header-banner-large {
    -fx-background-color: linear-gradient(to right, #84cf08, #78c909);
    -fx-background-radius: 20px;
}

.header-banner-small {
    -fx-shape: "M 0 0 L 380 0 L 370 20 L 0 20 Z";
    -fx-background-color: linear-gradient(to right, #84cf08, #78c909);
}

#headerBannerLargeLabel {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#trackNameLabel {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.artistLabel .label, .albumLabel .label, .yearLabel .label {
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.action-buttons, .close-button {
    -fx-text-fill: #753e0f;
    -fx-effect: dropshadow(gaussian, #0000005a, 0.0, 0.35, 0.0, 2.0);
    -fx-background-image: url("../media/b.png");
    -fx-background-size: cover;
    -fx-border-color: #0000005a;
    -fx-font-size: 15px;
    transition: -fx-scale-x 0.1s,
                -fx-scale-y 0.1s;
}

.close-button {
    -fx-font-size: 18px;
    -fx-pref-height: 40px;
}

.action-buttons:pressed,
.close-button:pressed,
.save-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-background-color: transparent;
}

.action-buttons:focused,
.close-button:focused,
.save-button:focused {
    -fx-background-color: transparent;
}

.save-button {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #0000005a, 0.0, 0.35, 0.0, 2.0);
    -fx-background-image: url("../media/aa.png");
    -fx-background-size: cover;
    -fx-border-color: #0000005a;
    -fx-font-size: 18px;
    -fx-pref-height: 40px;
    transition: -fx-scale-x 0.1s,
                -fx-scale-y 0.1s;
}