* {
    -fx-font-family: "Atlan Semi Bold";
}

.header-banner-large {
    -fx-background-color: #84cf08;
    -fx-background-radius: 20px;
}

.header-banner-small {
    -fx-shape: "M 0 0 L 380 0 L 370 20 L 0 20 Z";
    -fx-background-color: linear-gradient(to right, #84cf08, #78c909);
}

#headerBannerLargeLabel {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#trackNameLabel {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.artistLabel .label, .albumLabel .label, .yearLabel .label {
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

/*#test {*/
/*    -fx-background-image: url("../media/metadata-banner.png");*/
/*    -fx-background-position: center;*/
/*    -fx-background-size: cover;*/
/*}*/